*{
    font-family: custom;
}
@font-face {
    font-family:custom;
    src: url(../UrbanJungleDEMO.otf);
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right bottom, rgb(203, 203, 255),rgb(255, 219, 219));
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.399);
    padding: 1rem;
    height:40rem;
    width: 55rem
}